<!doctype html>
<html lang="en">
<head>
  <title>To Do APP</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap.css">
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="js/.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <p>Your To Do List For:  <%= Date.parse(Time.now.to_s) %></p>
      <form class="navbar-form pull-left" method="post" action="/new_todo">
        <input type="text" class="span2" name="todo_item" value="add an item..." >
        <button type="submit" class="btn">Add</button>
      </form>
    </ul>
  </div>
</div> <!--navbar-->

  <%= yield %>



</body>
</html>